#title {
    font-size: 40px;
    font-weight: bolder;
    margin: 20px 0 20px 0;
}

#main {
    position: absolute;
    /*color: white;*/
    background-image: url("../images/90sjumbo.jpg");
    width: 75%;
    height: 25%;
}

body{
    /*background-color: green;*/
    background: linear-gradient(to right, yellow, pink)
}

#findCartoon {
    margin: 10px 0 10px 0;
    padding: 5px;
}

.cartoon {
    margin: 10px 0 20px 0;
}
/*.cartoon-pics{
    padding: 10px 0 20px 0;
} */